.contact-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.contact-text10 {
  display: inline-block;
}
.contact-text11 {
  display: inline-block;
}
.contact-text12 {
  display: inline-block;
}
.contact-text13 {
  display: inline-block;
}
.contact-text14 {
  display: inline-block;
}
.contact-text15 {
  display: inline-block;
}
.contact-text16 {
  display: inline-block;
}
.contact-text19 {
  display: inline-block;
}
.contact-text20 {
  display: inline-block;
}
.contact-text21 {
  display: inline-block;
  text-align: center;
}
.contact-text22 {
  display: inline-block;
  text-align: center;
}
.contact-text23 {
  display: inline-block;
  text-align: center;
}
.contact-text24 {
  display: inline-block;
  text-align: center;
}
.contact-text25 {
  display: inline-block;
  text-align: center;
}
.contact-text26 {
  display: inline-block;
  text-align: center;
}
.contact-text27 {
  display: inline-block;
  text-align: center;
}
.contact-text28 {
  display: inline-block;
  text-align: center;
}
.contact-text29 {
  display: inline-block;
  align-self: stretch;
  text-align: center;
}
.contact-text30 {
  display: inline-block;
  align-self: stretch;
  text-align: center;
}
.contact-text31 {
  display: inline-block;
  align-self: stretch;
  text-align: center;
}
.contact-text32 {
  display: inline-block;
  align-self: stretch;
  text-align: center;
}
.contact-text33 {
  display: inline-block;
}
.contact-text34 {
  display: inline-block;
}
.contact-text35 {
  display: inline-block;
  text-align: center;
}
.contact-text36 {
  display: inline-block;
  text-align: center;
}
.contact-text37 {
  display: inline-block;
}
.contact-text38 {
  display: inline-block;
}
.contact-text39 {
  display: inline-block;
}
.contact-text40 {
  display: inline-block;
}
.contact-text41 {
  display: inline-block;
}
