.hero9-header30 {
  gap: var(--dl-space-space-twounits);
}
.hero9-container {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(255,255,255,0.7);
}
.hero9-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  z-index: 1;
  align-items: center;
  flex-direction: column;
}
.hero9-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.hero9-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.hero9-button1 {
  border-color: #2e133d;
  background-color: #2e133d;
}
.hero9-button2 {
  color: #2e133d;
  z-index: 100;
  box-shadow: 5px 5px 10px 0px;
  font-family: "Roboto";
  border-color: #2e133d;
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.hero9-text5 {
  display: inline-block;
  text-align: center;
  font-family: "Roboto";
}
.hero9-text6 {
  display: inline-block;
  text-align: center;
}
.hero9-text7 {
  display: inline-block;
  text-align: center;
  font-family: "Roboto";
}
.hero9-text8 {
  display: inline-block;
  text-align: center;
}
@media(max-width: 991px) {
  .hero9-text6 {
    text-align: center;
  }
  .hero9-text8 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .hero9-actions {
    width: 100%;
    flex-direction: column;
  }
  .hero9-button1 {
    width: 100%;
  }
  .hero9-button2 {
    width: 100%;
  }
}
